@model LibraryDomain.Model.Book
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Детальніше";
}

<h1>Детальніше про книгу</h1>

<div>
    <h4>Книга</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Ким додано
        </dt>
        <dd class="col-sm-10">
            @Model.Worker?.FullName
        </dd>
        <dt class="col-sm-2">
            Видавництво
        </dt>
        <dd class="col-sm-10">
            @Model.Publisher?.Name
        </dd>
        <dt class="col-sm-2">
            Автор
        </dt>
        <dd class="col-sm-10">
            @if (Model.AuthorsBooks?.Any() == true)
            {
                <ul>
                    @foreach (var author in Model.AuthorsBooks)
                    {
                        <li>@author.Author.FullName</li>
                    }
                </ul>
            }
            else
            {
                <span>Автори не вказані</span>
            }
        </dd>
        <dt class="col-sm-2">
            Жанр
        </dt>
        <dd class="col-sm-10">
            @if (Model.GenresBooks?.Any() == true)
            {
                <ul>
                    @foreach (var genre in Model.GenresBooks)
                    {
                        <li>@genre.Genre.GenreName</li>
                    }
                </ul>
            }
            else
            {
                <span>Жанри не вказані</span>
            }
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="BookReservations" asp-action="Reserve" method="post">
            <input type="hidden" name="bookId" value="@Model.Id" />
            <label>Кількість днів:</label>
            <input type="number" name="days" min="1" class="form-control" required />
            <button type="submit" class="btn btn-primary mt-2">Забронювати</button>
        </form>
    }

    @if (User.Identity.IsAuthenticated && Model.BookReservations.Any(br => br.UserId == UserManager.GetUserId(User) && br.Status == "Позичена"))
    {
        <form asp-action="Return" asp-controller="Books" method="post" class="mt-3">
            <input type="hidden" name="Id" value="@Model.Id" />
            <button type="submit" class="btn btn-danger">Повернути</button>
        </form>
    }

    @if (User.IsInRole("Librarian"))
    {
        <form asp-action="ChangeStatus" asp-controller="Books" method="post" class="mt-3">
            <input type="hidden" name="bookId" value="@Model.Id" />
            <div class="input-group">
                <select name="newStatus" class="form-select">
                    <option value="Заброньована">Заброньована</option>
                    <option value="Позичена">Позичена</option>
                    <option value="Прострочена">Прострочена</option>
                    <option value="Доступна">Доступна</option>
                </select>
                <button type="submit" class="btn btn-primary">Змінити статус</button>
            </div>
        </form>
    }

    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Редагувати</a>
    <a asp-action="Index" class="btn btn-secondary">Повернутися</a>
</div>